.upcoming {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  border-radius: 12px;
  margin: 25px auto;
}

.upcomingImage {
  width: 75px;
  height: 75px;
  border-radius: 8px;
}

.upcomingText {
  color: #fff;
  font-size: 16px;
  margin-left: 25px;
}
